<section class="contact-page">

  <!-- النجوم جوه الفورم -->
   <div class="stars-bg">
      <div class="stars"></div>
      <div class="shooting-star"></div>
      <div class="shooting-star s2"></div>
    </div>


  <div class="contact-card">
    <div class="contact-head">
      <h1>We’d Love To Hear From You</h1>
    </div>

    <form class="contact-form">
      <div class="contact-row">
        <input type="text" placeholder="Your Name" />
        <input type="email" placeholder="Your Email" />
      </div>

      <input type="text" placeholder="Subject" />
      <textarea placeholder="Your Message"></textarea>

      <button type="submit" class="contact-btn">Send Message</button>
    </form>

    <div class="contact-social">
      Follow us
      <div class="social-icons">

        <a
          href="https://www.instagram.com/ahmedkhaled6947/"
          target="_blank"
          rel="noopener"
          aria-label="Visit our Instagram"
          class="instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a
          href="https://web.facebook.com/ahmednolovely/"
          target="_blank"
          rel="noopener"
          aria-label="Visit our Facebook"
          class="facebook">
          <i class="fa-brands fa-facebook"></i>
        </a>

        <a
          href="https://wa.me/201008942400"
          target="_blank"
          rel="noopener"
          aria-label="Chat with us on WhatsApp"
          class="whatsapp">
          <i class="fa-brands fa-whatsapp"></i>
        </a>

        <a
          href="https://www.linkedin.com/in/ahmed-khaled-826a31227/"
          target="_blank"
          rel="noopener"
          aria-label="Visit our LinkedIn"
          class="linkedin">
          <i class="fa-brands fa-linkedin"></i>
        </a>

      </div>
    </div>
  </div>

</section>
