<section class="about-section container px-5">
  <div class="about-header">
    <button class="about-badge">About</button>

    <h3 class="about-title">
      <span>Market. The Brand. The Online </span>
    </h3>
  </div>

  <div class="about-content">
    <div class="about-text">
      <p>
        Introducing our state-of-the-art Bluetooth speaker – your ultimate
        companion for immersive audio bliss! Designed to deliver unparalleled
        sound quality, this sleek and compact marvel boasts crystal-clear highs,
        rich mids, and thumping bass.
      </p>

      <p>
        With seamless Bluetooth connectivity, enjoy wireless freedom to stream
        your favorite tunes from any device. Whether you're hosting a party,
        relaxing at home, or on-the-go, this speaker ensures an unforgettable
        auditory journey.
      </p>

      <p>
        Crafted with premium materials and built to last, it's not just a
        speaker – it's a statement of style and sophistication. Don't settle for
        ordinary sound – unleash the power of extraordinary with our Black
        Friday exclusive offer!
      </p>
    </div>

    <div class="about-image">
      <img src="assets/images/about.avif" alt="About Market" />
    </div>

    <div class="about-text">
      <p>
        Introducing our state-of-the-art Bluetooth speaker – your ultimate
        companion for immersive audio bliss! Designed to deliver unparalleled
        sound quality, this sleek and compact marvel boasts crystal-clear highs,
        rich mids, and thumping bass.
      </p>

      <p>
        With seamless Bluetooth connectivity, enjoy wireless freedom to stream
        your favorite tunes from any device. Whether you're hosting a party,
        relaxing at home, or on-the-go, this speaker ensures an unforgettable
        auditory journey.
      </p>

      <p>
        Crafted with premium materials and built to last, it's not just a
        speaker – it's a statement of style and sophistication. Don't settle for
        ordinary sound – unleash the power of extraordinary with our Black
        Friday exclusive offer!
      </p>
    </div>
  </div>
</section>
